* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #111;
    color: white;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: .3s;
}

nav a:hover {
    color: #ff9900;
}

.hero {
    height: 100vh;
    background:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)),
        url('restaurante.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    animation: fade 1.5s ease;
}

.hero h2 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    background: #ff9900;
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 30px;
    transition: .4s;
}

.btn:hover {
    transform: scale(1.1);
    background: #ff7700;
}

.cardapio {
    padding: 100px 10%;
}

.cardapio h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 3rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card {
    background: #1d1d1d;
    border-radius: 20px;
    overflow: hidden;
    transition: .4s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px #ff9900;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card h3 {
    padding: 15px;
}

.card p {
    padding: 0 15px;
}

.card span {
    display: block;
    padding: 15px;
    color: #ff9900;
    font-weight: bold;
}

.localizacao {
    padding: 100px 10%;
    text-align: center;
}

.localizacao h2 {
    margin-bottom: 30px;
    font-size: 3rem;
}

.localizacao iframe {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 20px;
}

.contato {
    text-align: center;
    padding: 100px 10%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
}

.whatsapp {
    display: inline-block;
    margin-top: 20px;
    background: #25D366;
    color: white;
    text-decoration: none;
    padding: 18px 40px;
    border-radius: 50px;
    transition: .3s;
    font-size: 1.1rem;
}

.reserva {
    padding: 100px 10%;
    background: #181818;
    text-align: center;
}

.reserva h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #ff9900;
}

.reserva p {
    margin-bottom: 40px;
}

.form-reserva {
    max-width: 700px;
    margin: auto;
    display: grid;
    gap: 15px;
}

.form-reserva input {
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

.form-reserva button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #ff9900;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.form-reserva button:hover {
    background: #ff7700;
}

.redes {
    padding: 100px 10%;
    text-align: center;
}

.redes h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.social-links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-decoration: none;
    color: white;
    background: #1d1d1d;
    padding: 15px 30px;
    border-radius: 50px;
    transition: .3s;
}

.social-links a img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.social-links a:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #ff9900;
}

.whatsapp:hover {
    transform: scale(1.1);
}

footer {
    background: black;
    text-align: center;
    padding: 25px;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    nav ul {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        padding: 20px;
        text-align: center;
    }

    .hero h2 {
        font-size: 2rem;
        line-height: 1.2;
    }

    .hero p {
        font-size: 1rem;
    }

    .btn {
        padding: 12px 25px;
    }

    .cardapio,
    .localizacao,
    .contato {
        padding: 70px 20px;
    }

    .cardapio h2,
    .localizacao h2,
    .contato h2 {
        font-size: 2rem;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .card img {
        height: 220px;
    }

    .localizacao iframe {
        height: 300px;
    }

    .whatsapp {
        width: 100%;
        max-width: 300px;
        text-align: center;
    }
}